
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid;
    width: 27%;
    border-radius: 26px;
    border-color: rgb(15, 12, 17);
}

.imageWrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.image {
  width: 80%;
  border-radius: 10%;
  
}



.name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    font-size: 26px;
    /* display: flex;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
    font-size: 26px; */
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.wrapperCategory {
    padding-left: 8%;
    height: 60px;
}

.category {
    display: inline-block;
    border: 1px solid;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    background-color: rgb(220, 220, 220);
    border-color: rgb(164, 164, 164);
    
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.buttonAdd {
    border-radius: 25px;
    border: none;
    width: 50%;
    background-color: rgb(83, 80, 85);
    color: #fff;
    cursor: pointer;
}


