
.container {
    background-color: rgb(216, 211, 211);
    height: 75%;
    border-radius: 35px;
    
}

.wrapper {
    padding-left: 300px;
    padding-top: 1px;
    margin-top: 100px;
    
}

.title {
    font-size: 150px;
    display: flex;
    
}

.titleNotFound {
    font-size: 90px;
}

.paragraph {
    font-size: 30px;
}