.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
  gap: 30px;
}

.cart {
  font-size: 35px;
  cursor: pointer;
}

.search {
  margin-top: 90px;
  margin-left: 130px;
  display: flex;
  justify-content: space-between;
  margin-right: 155px;
}
