.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 165px;
    background-color: rgb(23, 22, 22);
    height: 35px;
    
}
.header h1 {
    color: #fff;
    
}

.navigation {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 8px 24px;
    line-height: 1;
    
}
.navigation p {
    color: #fff;
}

.navigation a {
    line-height: 1;
    padding: 0;
    display: flex;
    align-items: center;
}

.auth {
    display: flex;
    gap: 35px;
}

.button {
display: inline-block;
  color: rgb(23, 22, 22);
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s
}