.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 165px;
    background-color: rgb(23, 22, 22);
    height: 35px;
    
}
.header h1 {
    color: #fff;
    
}

.navigation {
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 8px 24px;
    line-height: 1;
    
}
.navigation p {
    color: #fff;
}

.navigation a {
    line-height: 1;
    padding: 0;
    display: flex;
    align-items: center;
}

.auth {
    display: flex;
    gap: 35px;
}

.toggle {
    display: inline-block; 
    font-size: 28px; 
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

