
.wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    margin-top: 100px;
}

.mainText {
    font-size: 80px;
}
.textCenter {
    font-size: 25px;
    text-align: center;
    color: rgb(127, 126, 126);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;

}