
.wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    margin-top: 100px;
}

.mainText {
    font-size: 80px;
    color: rgb(105, 103, 103);
}
.textCenter {
    font-size: 25px;
    text-align: center;
    color: rgb(127, 126, 126);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;

}

.start {
    color: #fff;
    background-color: rgb(21, 15, 25);
    font-size: 18px;
}
.about {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}
